/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header{
    margin:0 auto;
    width: 800px;
    text-align: center;
    font-family: fantasy;
    color: rgb(3, 88, 88);
}
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */
.collage{
    margin:0 auto;
    width: 800px;
}
